# === WEB SERVER PORT ===
#   The web server will listen on this specified port. Providing a port
#   number of 0 will request that the OS assigns a port to the listener.
#   [default (if not specified): 8090]
YOOSO_PORT=8090

# === SQLX AUTO CREATE ===
#   Wether or not the SQL file should be created if it does not exist. It
#   only makes sense to enable this only if you actively test migrations.
#   [default (if not specified): false]
DATABASE_CREATE_MISSING=true

# === SQLX JOURNAL MODE ===
#   The SQLite journal mode, one of DELETE, TRUNCATE, PERSIST, MEMORY, WAL
#   or OFF. Below is the brief explanation for some of
#   the important values:
#   - [DELETE]: In the DELETE mode, the rollback journal is deleted at the
#       conclusion of each transaction. Indeed, the delete operation is the
#       action that causes the transaction to commit.
#       See: https://sqlite.org/atomiccommit.html
#   - [TRUNCATE]: The TRUNCATE journaling mode commits transactions by
#       truncating the rollback journal to zero-length instead of deleting
#       it. On many systems, truncating a file is much faster than deleting
#       the file since the containing directory does not need to be changed.
#   - [WAL]: The WAL journaling mode uses a write-ahead log instead of a
#       rollback journal to implement transactions. The WAL journaling mode
#       is persistent; after being set it stays in effect across multiple
#       database connections and after closing and reopening the database. 
#   
#   See More: https://sqlite.org/pragma.html#pragma_journal_mode
#   Note: https://github.com/transact-rs/sqlx/pull/1930#issuecomment-1168165414
#   [default (if not specified): DELETE]
DATABASE_JOURNAL_MODE=DELETE